BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
IncludeBlocks: Regroup
IncludeCategories:
- Regex: '<[[:alnum:]_]+>'
  SortPriority: 3
- Regex: '<.*>'
  SortPriority: 2
- Regex: '".*"'
  SortPriority: 1
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
JavaScriptQuotes: Double
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
SpaceAfterTemplateKeyword: false
