name: CI
on:
  push:
    branches:
      - master
    pull_request:
      branches:
        - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get install cmake help2man bats faketime
      - name: Build PostSRSd
        run: |
          make VERBOSE=ON
      - name: Run unit tests
        run: |
          make test
      - name: Run installation
        run: |
          make install DESTDIR=T
          ls -R build/T
      - name: Run PostSRSd blackbox tests
        run: |
          ./run_postsrsd_tests.bats
